<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sửa học phần</title>
</head>
<body>

<h2>Sửa học phần</h2>

<form th:action="@{/admin/course/edit/{id}(id=${course.id})}"
      th:object="${course}" method="post">

  <input type="text" th:field="*{name}"/><br>
  <input type="number" th:field="*{credits}"/><br>
  <input type="text" th:field="*{lecturer}"/><br>
  <input type="text" th:field="*{image}"/><br>

  <button type="submit">Cập nhật</button>
</form>

</body>
</html>